.Collapsible__trigger {
  font-weight: bold;
  font-size: 24px;
  color: white;
}

select {
  color: white;
  font-size: 16px;
  width: auto;
  background-color: var(--grey);
  padding: 0.5rem;
  margin: 1rem 0rem 0.5rem 0rem;
  cursor: pointer;
  border-style: none;
  border-radius: 10px;
}

select:hover {
  border-style: none;
  background-color: var(--lightgrey);
  color: white;
  padding: 0.5rem;
}

select option {
  font-size: 16px;
}
