.item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 13rem;
  height: auto;
  padding: 1rem 0rem;
  box-shadow: 0px 8px 8px 1px rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
}

.icon {
  display: block;
  position: absolute;
  align-self: center;
  top: 34%;
  width: 40%;
}

.profile {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.item h2 {
  color: white;
  margin: 8px 0 0 0;
  padding: 12px 0px;
  /* font-size: 24px; */
  line-height: 20px;
  position: relative;
  width: 100%;
}

.item p {
  color: white;
  display: inline;
  margin: 10px;
  /* font-size: 18px; */
}

.cost {
  font-weight: bold;
}

.item-wrapper {
  position: relative;
  margin: 8px;
}

input {
  background-color: var(--grey);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  /* font-size: 16px; */
  color: #ffffff;
  cursor: pointer;
  line-height: 20px;
  margin: 0.5rem 0;
  outline: none;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  touch-action: manipulation;
}

input:hover {
  background-color: var(--lightgrey);
}
