.item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 13rem;
  height: auto;
  padding: 2rem 0rem 1rem 0rem;
  box-shadow: 0px 8px 8px 1px rgba(0, 0, 0, 0.2);
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
}

.icon {
  display: block;
  position: absolute;
  align-self: center;
  top: 35%;
  width: 40%;
}

.profile {
  position: relative;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.item h2 {
  color: white;
  margin: 8px 0 0 0;
  padding: 12px 0px;
  font-size: 24px;
  line-height: 20px;
  position: relative;
  width: 100%;
}

.item p {
  color: white;
  display: inline;
  margin: 10px;
  font-size: 18px;
}

.cost {
  font-weight: bold;
}

.item-wrapper {
  position: relative;
  margin: 8px;
}
