:root {
  --grey: #414753;
  --lightgrey: #6f778d;
}

.App {
  display: block;
}

a:link {
  color: cyan;
}

a:visited {
  color: darkcyan;
}

.list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 40px;
  line-height: 0;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: scroll;
  width: 14vw;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem 2rem;
}

.main {
  padding-top: 2rem;
  margin-left: calc(14vw + 4rem);
  text-align: center;
}

.header {
  margin-left: 2rem;
}

.cart-wrapper {
  margin-bottom: 1rem;
}

h1 {
  color: white;
  margin-bottom: 2rem;
}

p {
  color: white;
  /* font-size: 20px; */
}

img {
  max-width: 800px;
}

label {
  color: white;
}

button {
  background-color: var(--grey);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  /* font-size: 16px; */
  color: #ffffff;
  cursor: pointer;
  line-height: 20px;
  margin: 6px 0;
  outline: none;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  touch-action: manipulation;
}

button:hover {
  background-color: var(--lightgrey);
}
